[submodule "modules/vercel-openclaw"]
	path = modules/vercel-openclaw
	url = https://github.com/vercel-labs/vercel-openclaw.git
[submodule "modules/agent-browser"]
	path = modules/agent-browser
	url = https://github.com/vercel-labs/agent-browser.git
[submodule "modules/json-render"]
	path = modules/json-render
	url = https://github.com/vercel-labs/json-render.git
[submodule "modules/workflow-builder-template"]
	path = modules/workflow-builder-template
	url = https://github.com/vercel-labs/workflow-builder-template.git
[submodule "modules/pi-mono"]
	path = modules/pi-mono
	url = https://github.com/TheoSym/pi-mono.git
